/target
Cargo.lock
data/alerts
data/schema
data/lsst_alerts_backup*
__pycache__
/env
.DS_Store
/experimental
*~
scripts/convert2onnx/env/
scripts/convert2onnx/models_input/
scripts/convert2onnx/models_output/
.env
tests/throughput/config.yaml
tests/throughput/cats150.filter.json
logs
*.gz
*.jsonl
simbad_cache
*.parquet
config.docker.yaml
